
<div class="max-w-lg mx-auto mt-10 p-6 bg-gray-500/10 rounded-lg shadow-md">
  <form (submit)="postSale()" ngForm="postASale">
    <h2 class="text-2xl font-bold mb-6 text-gray-400">Save a new Sale</h2>

      @if(details.length > 0){
        <div class="flex justify-center mt-8 text-white mb-4">
          <table class="table-auto border-collapse border-4 border-[#a78bfa] shadow-lg text-left">
            <thead class="bg-purple-950">
            <tr>
              <th class="border-4 border-[#a78bfa] px-4 py-2">Product</th>
              <th class="border-4 border-[#a78bfa] px-4 py-2">Price</th>
              <th class="border-4 border-[#a78bfa] px-4 py-2">Quantity</th>
              <th class="border-4 border-[#a78bfa] px-4 py-2">Subtotal</th>
            </tr>
            </thead>
            <tbody>
              @for (detail of details; track $index){
                <tr>
                  <td class="border-4 border-[#a78bfa] px-4 py-2">{{detail.product.description || 'Cargando...'}}</td>
                  <td class="border-4 border-[#a78bfa] px-4 py-2">{{detail.price}}</td>
                  <td class="border-4 border-[#a78bfa] px-4 py-2">{{detail.cuantity}}</td>
                  <td class="border-4 border-[#a78bfa] px-4 py-2">{{detail.subtotal}}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      } @else {
        <div class="mb-4 grid grid-cols-1 items-center gap-2">

          <button (click)="openDetailsMenu()" type="button"
                  class="w-full bg-green-700  text-white font-semibold py-2 px-4 rounded-md hover:bg-green-900 hover:cursor-pointer transition duration-200">
            Add details
          </button>
        </div>
      }


  <!-- Product code -->


  <!-- Client code -->
    <div class="mb-4 grid grid-cols-[auto_250px_auto] items-center gap-2">
      <label for="client" class="text-gray-400 font-semibold text-right self-center">Client</label>

      <ng-select
        (change)="setClient()"
        [items]="clients"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedClient"
        [searchable]="true"
        [clearable]="false"
        placeholder="Select a client"
        class="w-[250px]l px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500 bg-[#121414] text-gray-400"
        name="client"
        id="client"

      >
      </ng-select>

<!--      <select (change)="disableSelectClient()" [(ngModel)]="selectedClient" name="client" id="client" class="w-[250px] px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500 bg-[#121414] text-gray-400">-->
<!--        <option [disabled]="isSelectClientDisabled" value="0" selected>Select a client</option>-->
<!--        @for(client of clients; track $index){-->
<!--          <option [ngValue]="client.id">{{client.name}}</option>-->
<!--        }-->
<!--      </select>-->
      <button type="button" (click)="createClient()" class="bg-yellow-400 rounded px-3 py-2 self-center justify-self-start font-semibold hover:bg-yellow-600 hover:cursor-pointer transition duration-200">New Client</button>
    </div>

  <!-- Seller code-->
    <div class="mb-4 grid grid-cols-[auto_250px_auto] items-center gap-2">
      <label for="seller" class="text-gray-400 font-semibold mb-2 text-right self-center">Seller</label>

      <ng-select
        (change)="setSeller()"
        [items]="sellers"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedSeller"
        [searchable]="true"
        [clearable]="false"
        placeholder="Select a seller"
        class="w-[250px]l px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500 bg-[#121414] text-gray-400"
        name="seller"
        id="seller"

      >
      </ng-select>
<!--      <select (change)="disableSelectSeller()" [(ngModel)]="selectedSeller" name="seller" id="seller" class="w-[250px] px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500 bg-[#121414] text-gray-400">-->
<!--      <option [disabled]="isSelectSellerDisabled" value="0" disabled>Select a seller</option>-->
<!--      @for(seller of sellers; track $index){-->
<!--        <option [ngValue]="seller.id">{{seller.name}}</option>-->
<!--      }-->
<!--    </select>-->
      <button type="button" (click)="createSeller()" class="bg-yellow-400 rounded px-3 py-2 self-center justify-self-start font-semibold hover:bg-yellow-600 hover:cursor-pointer transition duration-200">New Seller</button>
    </div>
    <button type="submit"
            class="w-full bg-purple-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-purple-900 hover:cursor-pointer transition duration-200">
      Save
    </button>
  </form>
</div>
